header, footer {
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: white;
    font-size: 12px;
}

.testCaseContent {
    max-width: 800px;
    margin: auto;
    background: #f7edbc
}

table {
    border-collapse: collapse;
}

.hTable {
    width: 95%;
    margin: auto;
}

.breadcrumb li {
    display: inline;
    font-size: 12px;
    text-align: right;
}

h2 {
    text-align: center;
}

.meta, .testcase {
    border: 1px solid black;
}

.space {
    border: transparent;
}

.meta th {
    background: #85c3f2;
    text-align: center;
}

.meta td {
    background: #b6d8f2;
    text-align: center;
}

.testcase th {
    background: #bcf2b6;
}

.testcase td {
    background: #d8f5d5;
}

img {
    width: 150px;
    cursor:pointer;
    border: 1px solid black;
    border-radius: 4px;
}

img:focus {
    width: auto;
}
