header, footer {
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: white;
    font-size: 12px;
}

.Content {
    max-width: 800px;
    margin: auto;
    background: #f7edbc;
}

table {
    border-collapse: collapse;
    width: 95%;
    margin: auto;
}
table.title {
    width: auto;
}

ul.breadcrumb li, li:before {
    display: inline;
    font-size: 12px;
    padding: 2px;
    content: "☯";
}

h2 {
    text-align: center;
}

.meta, .testcase {
    border: 1px solid black;
    text-align: center;
}

.space {
    border: transparent;
}

.meta th {
    background: #85c3f2;
}

.meta td {
    background: #b6d8f2;
}

.testcase th {
    background: #bcf2b6;
}

.testcase td {
    background: #d8f5d5;
}

.space {
    border: transparent;
}

.row_a th {
    background: #9c9c9c;
}

.row_a td {
    background: #adadad;
}

.row_b th {
    background: #cccccc;
}

.row_b td {
    background: #ebebeb;
}

img {
    border: 1px solid black;
}

.imgSample {
    width: 150px;
    cursor: pointer;
    border-radius: 4px;
}

.imgLogo {
    width: 60px;
    border-radius: 30px;
}

img:focus {
    width: auto;
}

.status_radio_btn {
	display: inline-block;
	margin-right: 10px;
}

.status_radio_btn input[type=radio] {
	display: none;
}

.status_radio_btn label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 10px;
	line-height: 30px;
	border: 1px solid #999;
	border-radius: 15px;
	user-select: none;
}

#create {
	display: inline-block;
	cursor: pointer;
	padding: 0px 10px;
	line-height: 30px;
	border: 1px solid #999;
	border-radius: 15px;
	user-select: none;
	background: #f7edbc
}

.status_radio_btn input[id=pass]:checked + label {
	background: #aaf29b;
}
.status_radio_btn input[id=skip]:checked + label {
	background: #f2f19b;
}
.status_radio_btn input[id=fail]:checked + label {
	background: #ff5e5e;
}

.status_radio_btn label:hover {
	color: #666;
}

button {
    font-weight: bold;
}

#create:disabled:hover{
    text-decoration: underline;
}

#create:enabled{
    color: blue;
}

#create:enabled:hover {
    text-decoration: underline;
}

#taskName {
    width: 580px;
}

textarea {
    width: 580px;
    height: 200px;
    resize: vertical;
}

.bold {
     font-weight: bold;
}

select {
    overflow: hidden;
}

#reset {
    background: #ff5e5e;
	padding: 0px 10px;
    line-height: 30px;
	border: 1px solid #999;
    cursor: pointer;
    border-radius: 15px;
}

#submit {
    background: #aaf29b;
	padding: 0px 10px;
    line-height: 30px;
 	border: 1px solid #999;
    cursor: pointer;
    border-radius: 15px;
}